<div fxLayout="column" fxFlex class="footer">
  <div fxLayout="row">
    <div fxFlex="45">
      <div class="ft-main-item">
        <h2 class="ft-title">Personal</h2>
        <ul>
          <li><a href="#">Small Business</a></li>
          <li><a href="#">Corporate & Institutional</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>
    <div fxFlex="45">
      <div class="ft-main-item">
        <h2 class="ft-title">Support</h2>
        <ul>
          <li><a href="#">Small Business</a></li>
          <li><a href="#">Corporate & Institutional</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>
    <div fxLayout="row"></div>
  </div>


  <mat-divider class="legal-divider"></mat-divider>
  <div fxLayout="row" class="ft-legal">
    <div fxLayout="column" class="ft-legal-item b-right">Security</div>
    <div fxLayout="column" class="ft-legal-item b-right">Terms & Conditions</div>
    <div fxLayout="column" class="ft-legal-item">Privacy Policy</div>
  </div>
  <div fxLayout="row" class="copyright-box">
    <span class="copyright">©2021 The PNC Financial Services Group, Inc. All rights reserved.</span>
  </div>
  <div fxLayout="row wrap" class="social-box">
    <div fxLayout="column" class="link-box">
      <span class="social-links">
        <mat-icon fontSet="fontawesome" fontIcon="fa-facebook"></mat-icon>
      </span>
    </div>
    <div fxLayout="column" class="link-box">
      <span class="social-links">
        <mat-icon fontSet="fontawesome" fontIcon="fa-twitter"></mat-icon>
      </span>
    </div>
    <div fxLayout="column" class="link-box">
      <span class="social-links">
        <mat-icon fontSet="fontawesome" fontIcon="fa-linkedin"></mat-icon>
      </span>
    </div>
    <div fxLayout="column" class="link-box">
      <span class="social-links">
        <mat-icon fontSet="fontawesome" fontIcon="fa-pinterest-p"></mat-icon>
      </span>
    </div>
    <div fxLayout="column" class="link-box">
      <span class="social-links">
        <mat-icon fontSet="fontawesome" fontIcon="fa-instagram"></mat-icon>
      </span>
    </div>
    <div fxLayout="column" class="link-box">
      <span class="social-links">
        <mat-icon fontSet="fontawesome" fontIcon="fa-youtube"></mat-icon>
      </span>
    </div>
  </div>
</div>
