
.add_hme_screen {
    color: white;
    background-color: #233555;
    border-color: #233555;
    font-family: "Montserrat";
    font-weight: bold;
    border-radius: 15px;
    justify-content: center;
}