.login-form {
    .mat-card {
        box-shadow: none;
        border-radius: 0px;

        .banner-img {
            height: 200px;
        }

        .btn-login {
            width: 10em;
        }

        .full-width {
            width: 100%;
        }
        .label_User {
            display: block;
            font: .875rem/1.3em PNC Brand,Arial,sans-serif;
            margin-bottom: 5px;
            color: #2d3943;
            text-align: left;
        }
    }
}

