.signup-form {
    .mat-card {
        box-shadow: none;
        border-radius: 0px;

        .btn-signup {
            width: 10em;
        }

        .full-width {
            width: 100%;
        }
    }

    ::ng-deep .mat-card-header-text {
        margin: 0px !important;
    }
}
